# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretórios de cache do sistema operacional
.DS_Store
Thumbs.db

# Diretórios de cache do editor
.vscode/
.idea/
